<head>
</head>
<body>
<% if flash[:notice] %>
      <div class="alert alert-info">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

<div class="div-center">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h3 class="text-center">Change Password</h3>
      <hr/>
  <%= form_for(@user, url:{:action => 'update_password', :id => current_user.id}) do |f| %>  
      
      <div class="form-group">
        <div class="field">
          <%= label_tag(:user_current_password, "Current Password") %><br />
          <%= password_field_tag "user[current_password]", "", class: 'form-control', autocomplete: "off", :required => true %>
          <%= text_field_tag 'current_password', "current password is incorrect", class: "hidden form-control"  %>
        </div>
      </div><br/>

      <div class="form-group">
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, class: 'form-control', autocomplete: "off", :required => true %>
        </div>
      </div><br/>

      <div class="form-group">
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation , class: 'form-control', autocomplete: "off", :required => true %>
          <%= text_field_tag 'password_confirmation', "", class: "hidden form-control"  %>
        </div>
      </div><br/>

  <div class="actions">
    <%= f.submit "update", class: 'btn btn-primary' %>
    <button  class="btn btn-secondary"><%= link_to "Cancel","/" %></button>
  </div><br />

<% end %>

 
  </div>
  </div>
</div>

</body>

<script type="text/javascript">


$(document).ready(function(){
//matching new password fields and validating 
  $("#user_password_confirmation").change(function(){
    current_password = $("#user_current_password").val()
    password = $("#user_password").val()
    password_confirmation = $("#user_password_confirmation").val()
    if (password!="" && password_confirmation!="" ){
    if (password == password_confirmation){
      var regexp = /^[a-z0-9]$/;     
      if (password.match(regexp))
          if (password.length<6)
          alert("password must be atleast 6 character");  
      else{
         
           alert("password must be alphanumeric");
         }

       }    
    else{   
      
         alert("Re-type password must be same as new password");
       }
     }
    });

//checking current password by ajax call
 $("#user_current_password").change(function(){
    
    current_password = $("#user_current_password").val()
    
   $.ajax({
        url: "/check_password?current_password=" + current_password ,
        type: 'GET',
        success: function (result) {

            if(result)
            {$("#current_password").addClass('hidden');}
            else
              {$("#current_password").removeClass('hidden').css({color: "red",
                border: "none"});}
              }
          });

      });
 });


</script>
